# The .statsmodel package
- I like this package because it makes nice table that researchers often use.
    - However, every other time I have to run it I end up getting some errors
    
- If you run into errors you can try multiple solutions:
    1. Restart your kernel
    2. Try loading it in a different way
        - `import statsmodels as smf` $\rightarrow$ smf.api.formula.ols()
        - `import statsmodels.api as smf` $\rightarrow$ smf.formula.ols()
    3. If all else fails you can run `pip uninstall statsmodels` and then `pip install statsmodels` in Command Prompt.
        - Then try to import again
- Email me if this particular package gives you errors.

In [4]:
import pandas as pd
sleep = pd.read_csv('sleep.csv')
list(sleep.columns)

['price', 'facility', 'address', 'condition', 'zip', 'radius', 'city']

In [6]:
import statsmodels.api as smf
lm = smf.formula.ols("price ~  city", data = sleep).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.175
Model:                            OLS   Adj. R-squared:                  0.151
Method:                 Least Squares   F-statistic:                     7.268
Date:                Thu, 18 Jun 2020   Prob (F-statistic):           0.000181
Time:                        14:06:05   Log-Likelihood:                -980.23
No. Observations:                 107   AIC:                             1968.
Df Residuals:                     103   BIC:                             1979.
Df Model:                           3
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept              2119.6800    469.525      4.515      0.000    1188.488    3050.872
city[T.Miami]          -423.2887    678.290     -0.624      0.534   -1768.517     921.939
city[T.New York]       -784.5405    590.444     -1.329      0.187   -1955.547     386.466
city[T.San Francisco]  2369.9450    751.607      3.153      0.002     879.311    3860.579
==============================================================================
Omnibus:                      102.612   Durbin-Watson:                   0.685
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1362.252
Skew:                           3.121   Prob(JB):                    1.55e-296
Kurtosis:                      19.328   Cond. No.                         5.12
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [2]:
import statsmodels.api as smf
lm = smf.formula.ols("price ~  city", data = sleep).fit()
print(lm.summary())

KeyboardInterrupt:

# More on `pivot_table()`

- Run the function `.columns` on your two tables.
    - Notice how 'Happiness score' is the only columns displayed. This is because 'Region' and 'Year' are used as indices.
- Run the function `.reset_index()` on your table to change your indices into columns which you can use in plots and to conduct analyses.

In [11]:
import numpy as np
happiness = pd.read_csv('happiness.csv')
happ_reg = pd.pivot_table(happiness, index = ['Region', 'Year'], values="Happiness score")
happ_reg

                                      Happiness score
Region                          Year
Australia and New Zealand       2015         7.285000
                                2016         7.323500
                                2017         7.299000
                                2018         7.298000
                                2019         7.267500
Central and Eastern Europe      2015         5.332931
                                2016         5.370690
                                2017         5.409931
                                2018         5.463966
                                2019         5.571786
Eastern Asia                    2015         5.626167
                                2016         5.624167
                                2017         5.496500
                                2018         5.672000
                                2019         5.688833
Latin America and Caribbean     2015         6.144682
                                2016         6.101750
                                2017         5.957905
                                2018         5.937750
                                2019         5.942550
Middle East and Northern Africa 2015         5.406900
                                2016         5.386053
                                2017         5.369684
                                2018         5.282737
                                2019         5.237000
North America                   2015         7.273000
                                2016         7.254000
                                2017         7.154500
                                2018         7.107000
                                2019         7.085000
Southeastern Asia               2015         5.317444
                                2016         5.338889
                                2017         5.444875
                                2018         5.313444
                                2019         5.273667
Southern Asia                   2015         4.580857
                                2016         4.563286
                                2017         4.628429
                                2018         4.603857
                                2019         4.526857
Sub-Saharan Africa              2015         4.202800
                                2016         4.136421
                                2017         4.084722
                                2018         4.192472
                                2019         4.314611
Western Europe                  2015         6.689619
                                2016         6.685667
                                2017         6.703714
                                2018         6.829100
                                2019         6.898400

In [83]:
list(happ_reg.columns)

['Happiness score']

In [84]:
happ_reg1 =happ_reg.reset_index()
happ_reg1

                             Region  Year  Happiness score
0         Australia and New Zealand  2015         7.285000
1         Australia and New Zealand  2016         7.323500
2         Australia and New Zealand  2017         7.299000
3         Australia and New Zealand  2018         7.298000
4         Australia and New Zealand  2019         7.267500
5        Central and Eastern Europe  2015         5.332931
6        Central and Eastern Europe  2016         5.370690
7        Central and Eastern Europe  2017         5.409931
8        Central and Eastern Europe  2018         5.463966
9        Central and Eastern Europe  2019         5.571786
10                     Eastern Asia  2015         5.626167
11                     Eastern Asia  2016         5.624167
12                     Eastern Asia  2017         5.496500
13                     Eastern Asia  2018         5.672000
14                     Eastern Asia  2019         5.688833
15      Latin America and Caribbean  2015         6.144682
16      Latin America and Caribbean  2016         6.101750
17      Latin America and Caribbean  2017         5.957905
18      Latin America and Caribbean  2018         5.937750
19      Latin America and Caribbean  2019         5.942550
20  Middle East and Northern Africa  2015         5.406900
21  Middle East and Northern Africa  2016         5.386053
22  Middle East and Northern Africa  2017         5.369684
23  Middle East and Northern Africa  2018         5.282737
24  Middle East and Northern Africa  2019         5.237000
25                    North America  2015         7.273000
26                    North America  2016         7.254000
27                    North America  2017         7.154500
28                    North America  2018         7.107000
29                    North America  2019         7.085000
30                Southeastern Asia  2015         5.317444
31                Southeastern Asia  2016         5.338889
32                Southeastern Asia  2017         5.444875
33                Southeastern Asia  2018         5.313444
34                Southeastern Asia  2019         5.273667
35                    Southern Asia  2015         4.580857
36                    Southern Asia  2016         4.563286
37                    Southern Asia  2017         4.628429
38                    Southern Asia  2018         4.603857
39                    Southern Asia  2019         4.526857
40               Sub-Saharan Africa  2015         4.202800
41               Sub-Saharan Africa  2016         4.136421
42               Sub-Saharan Africa  2017         4.084722
43               Sub-Saharan Africa  2018         4.192472
44               Sub-Saharan Africa  2019         4.314611
45                   Western Europe  2015         6.689619
46                   Western Europe  2016         6.685667
47                   Western Europe  2017         6.703714
48                   Western Europe  2018         6.829100
49                   Western Europe  2019         6.898400

In [85]:
list(happ_reg1.columns)

['Region', 'Year', 'Happiness score']

# Clarifying some questions for `Quiz4-2_Multi-Variate.ipynb`

## 6. Run your multivariate regression
- Load in the appropriate 
- Using whichever variables you feel would be most suited for this analysis, run a regression.
- *Hint: you can use the call `list(cardio2.columns)` to look at all of your variables.*
- **Use the `.statsmodels` package and print a regression table.**
- *I do not recommend running `pairplot` as I found it can take a long time, but if you are interested feel free*

# The difference between single and double quotes
- None!
- These should operate identically and in fact you should be able to use triple quotes and they still perform the same way

In [12]:
singleQuote = pd.read_csv('sleep.csv')
singleQuote.head(2)

,price,facility,address,condition,zip,radius,city
0,650.0,iSleep Program,"1200 Waters Pl., Ste. 104, Bronx NY",sleep,10001,50,New York
1,700.0,New York Sleep Disorder Center,"2951 Grand Concourse Ste. IA, Bronx NY",sleep,10001,50,New York

In [13]:
doubleQuote = pd.read_csv("sleep.csv")
doubleQuote.head(2)

,price,facility,address,condition,zip,radius,city
0,650.0,iSleep Program,"1200 Waters Pl., Ste. 104, Bronx NY",sleep,10001,50,New York
1,700.0,New York Sleep Disorder Center,"2951 Grand Concourse Ste. IA, Bronx NY",sleep,10001,50,New York

In [14]:
tripleQuote = pd.read_csv('''sleep.csv''')
tripleQuote.head(2)

,price,facility,address,condition,zip,radius,city
0,650.0,iSleep Program,"1200 Waters Pl., Ste. 104, Bronx NY",sleep,10001,50,New York
1,700.0,New York Sleep Disorder Center,"2951 Grand Concourse Ste. IA, Bronx NY",sleep,10001,50,New York

In [15]:
a = ('this is a string;'); b = ("this is a string;"); c = ('''and this is a string''') ; print(a,b,c)

this is a string; this is a string; and this is a string

In [90]:
print(type(a)); print(type(b)); print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

# Stargazer
- You will have a question on the final assignment which asks you to use Stargazer to save your regression
- Not only will you be asked to use Stargazer, but you will then be asked to save this as a text file.
    - This is because, as I have mentioned, Jupyter is only as good as the number of the collaborators you have who use it.
    - If you want to be able to put a table you got in Python in a paper you will need to know how to export it.
    - You may or may not know how to use LaTex as a means to create document so I just use the html_render() example because Jupyter can read html

In [18]:
from stargazer.stargazer import Stargazer
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.175
Model:                            OLS   Adj. R-squared:                  0.151
Method:                 Least Squares   F-statistic:                     7.268
Date:                Thu, 18 Jun 2020   Prob (F-statistic):           0.000181
Time:                        14:14:26   Log-Likelihood:                -980.23
No. Observations:                 107   AIC:                             1968.
Df Residuals:                     103   BIC:                             1979.
Df Model:                           3
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept              2119.6800    469.525      4.515      0.000    1188.488    3050.872
city[T.Miami]          -423.2887    678.290     -0.624      0.534   -1768.517     921.939
city[T.New York]       -784.5405    590.444     -1.329      0.187   -1955.547     386.466
city[T.San Francisco]  2369.9450    751.607      3.153      0.002     879.311    3860.579
==============================================================================
Omnibus:                      102.612   Durbin-Watson:                   0.685
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1362.252
Skew:                           3.121   Prob(JB):                    1.55e-296
Kurtosis:                      19.328   Cond. No.                         5.12
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [19]:
regression1 = Stargazer([lm])
regression1

In [20]:
table = regression1.render_html()
table

'<table style="text-align:center"><tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="1"><em>Dependent variable:</em></td></tr><tr><td style="text-align:left"></td><tr><td style="text-align:left"></td><td>(1)</td></tr><tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Intercept</td><td>2119.68<sup>***</sup></td></tr><tr><td style="text-align:left"></td><td>(469.525)</td></tr><tr><td style="text-align:left">city[T.Miami]</td><td>-423.289<sup></sup></td></tr><tr><td style="text-align:left"></td><td>(678.29)</td></tr><tr><td style="text-align:left">city[T.New York]</td><td>-784.54<sup></sup></td></tr><tr><td style="text-align:left"></td><td>(590.444)</td></tr><tr><td style="text-align:left">city[T.San Francisco]</td><td>2369.945<sup>***</sup></td></tr><tr><td style="text-align:left"></td><td>(751.607)</td></tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align: left">Observations</td><td>107.0</td></tr><tr><td style="text-align: left">R<sup>2</sup></td><td>0.175</td></tr><tr><td style="text-align: left">Adjusted R<sup>2</sup></td><td>0.151</td></tr><tr><td style="text-align: left">Residual Std. Error</td><td>2347.624(df = 103.0)</td></tr><tr><td style="text-align: left">F Statistic</td><td>7.268<sup>***</sup>(df = 3.0; 103.0)</td></tr><tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align: left">Note:</td>\n <td colspan="1" style="text-align: right">\n  <sup>*</sup>p&lt;0.1;\n  <sup>**</sup>p&lt;0.05;\n  <sup>***</sup>p&lt;0.01\n </td></tr></table>'

In [21]:
from IPython.core.display import HTML

HTML(table)

In [22]:
with open('regression1.txt', 'w') as f: # the 'w' in open let's the function know we are writing
    f.write(table)

# GGPLOT