# Quiz 3-1: Merging and Grouping Data
- This quiz will have you combine datasets we have previously looked at.

- During and/or (necessarily) after you have finished this quiz be sure to commit and push using GitHub Desktop.

- Feel free to look back on the lecture/slides and use search engines for help.

### 1. Load data

- Import the pandas and numpy modules.

- Load the two datasets below as variables `life_expect` and `pop`
    - http://domlockett.github.io/website/Life_Expectancy.csv
    - http://domlockett.github.io/website/Population.csv

In [2]:
#type your solution to the problem below this line:

import pandas as pd
import numpy as np

life_expect =pd.read_csv("http://domlockett.github.io/website/Life_Expectancy.csv")
pop =pd.read_csv("http://domlockett.github.io/website/Population.csv")

### 2. life_expect.

- Change the names of three `life_expect` variables: `Time`, `Country Name` and `Life expectancy at birth, total (years) [SP.DYN.LE00.IN]` to 'Year','Country', and 'life_expect'.
- Make sure to overwrite the variable.
- Display your updated variable.

In [3]:
life_expect=  life_expect.rename(columns={'Life expectancy at birth, total (years) [SP.DYN.LE00.IN]': 'life_expect', 'Country Name':'Country', 'Time':'Year'})
life_expect

,Year,Time Code,Country,Country Code,life_expect
0,1990,YR1990,Afghanistan,AFG,50.331
1,1990,YR1990,Albania,ALB,71.836
2,1990,YR1990,Algeria,DZA,66.938
3,1990,YR1990,American Samoa,ASM,NaN
4,1990,YR1990,Andorra,AND,NaN
...,...,...,...,...,...
3163,2019,YR2019,Sub-Saharan Africa,SSF,NaN
3164,2019,YR2019,Sub-Saharan Africa (excluding high income),SSA,NaN
3165,2019,YR2019,Sub-Saharan Africa (IDA & IBRD countries),TSS,NaN
3166,2019,YR2019,Upper middle income,UMC,NaN
3167,2019,YR2019,World,WLD,NaN

### 3. pop.

- Change the names of three `pop` variables: `Time`, `Country Name` and `Population, total [SP.POP.TOTL]` to 'Year','Country', and 'Population'.
- Now update your `pop` dataset to only include the 'Year', 'Country', and 'Population' columns.
- Make sure to overwrite the variable.
- Display your new variable.

In [4]:
pop=  pop.rename(columns={'Population, total [SP.POP.TOTL]': 'Population', 'Country Name':'Country', 'Time':'Year'})
pop = pop[["Year", 'Country','Population']]
pop

      Year                                     Country  Population
0     1990                                 Afghanistan  12412308.0
1     1990                                     Albania   3286542.0
2     1990                                     Algeria  25758869.0
3     1990                              American Samoa     47347.0
4     1990                                     Andorra     54509.0
...    ...                                         ...         ...
3163  2019                          Sub-Saharan Africa         NaN
3164  2019  Sub-Saharan Africa (excluding high income)         NaN
3165  2019   Sub-Saharan Africa (IDA & IBRD countries)         NaN
3166  2019                         Upper middle income         NaN
3167  2019                                       World         NaN

[3168 rows x 3 columns]

### 4. Merge

- Now merge the two variables on the Year and the Country.
- Use inner join.
- Name this merged data `merge` and display your new dataset.

In [5]:
merge = pd.merge(life_expect, pop, on =['Year', 'Country'], how ='inner')
merge

,Year,Time Code,Country,Country Code,life_expect,Population
0,1990,YR1990,Afghanistan,AFG,50.331,12412308.0
1,1990,YR1990,Albania,ALB,71.836,3286542.0
2,1990,YR1990,Algeria,DZA,66.938,25758869.0
3,1990,YR1990,American Samoa,ASM,NaN,47347.0
4,1990,YR1990,Andorra,AND,NaN,54509.0
...,...,...,...,...,...,...
3163,2019,YR2019,Sub-Saharan Africa,SSF,NaN,NaN
3164,2019,YR2019,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN
3165,2019,YR2019,Sub-Saharan Africa (IDA & IBRD countries),TSS,NaN,NaN
3166,2019,YR2019,Upper middle income,UMC,NaN,NaN
3167,2019,YR2019,World,WLD,NaN,NaN

### 5. Save your new dataframe.

- Name your new file `life_pop.csv`

In [6]:
merge.to_csv('life_pop.csv')

## Grouping data

### 6. Import the following data: 

- Import panda and numpy module.
 
- Load the following data: https://domlockett.github.io/website/healthcare_infections.csv

    - It is provider data reporting healthcare-related infections. "These measures are developed by Centers for Disease Control and Prevention (CDC) and collected through the National Healthcare Safety Network (NHSN). They provide information on infections that occur while the patient is in the hospital. These infections can be related to devices, such as central lines and urinary catheters, or spread from patient to patient after contact with an infected person or surface." From  [data.medicare.org](https://data.medicare.gov/).
    - It will take a moment to load.

- Name this variable `health_infect`.

- Display the output.

In [7]:
import pandas as pd
import numpy as np
health_infect = pd.read_csv('https://domlockett.github.io/website/healthcare_infections.csv')

### 7. Group the data by State and City

- Use the `.set_index` attribute of `pd.DataFrame` to change the index to City and State.


- Save the new variable as `infect_index`.

- Display your new dataframe.

In [8]:
infect_index = pd.DataFrame.set_index(health_infect, keys=["State", "City"])
infect_index.loc['MO']

,Facility ID,Facility Name,Address,ZIP Code,County Name,Phone Number,Measure Name,Measure ID,Compared to National,Score,Footnote,Measure Start Date,Measure End Date,Location
City,,,,,,,,,,,,,,
HOUSTON,260024,TEXAS COUNTY MEMORIAL HOSPITAL,1333 SAM HOUSTON BOULEVARD,65483,TEXAS,(417) 967-3311,SSI - Colon Surgery,HAI_3_SIR,Not Available,Not Available,13,07/01/2018,06/30/2019,POINT (-91.959559 37.315756)
JEFFERSON CITY,260047,CAPITAL REGION MEDICAL CENTER,1125 MADISON ST,65102,COLE,(573) 632-5000,MRSA Bacteremia: Patient Days,HAI_5_DOPC,Not Available,21775,NaN,07/01/2018,06/30/2019,POINT (-92.181588 38.567018)
NEVADA,260061,NEVADA REGIONAL MEDICAL CENTER,800 S ASH ST,64772,VERNON,(417) 667-3355,MRSA Bacteremia: Patient Days,HAI_5_DOPC,Not Available,5403,NaN,07/01/2018,06/30/2019,POINT (-94.359703 37.830534)
MOBERLY,260074,MOBERLY REGIONAL MEDICAL CENTER,1515 UNION AVE,65270,RANDOLPH,(660) 263-8400,MRSA Bacteremia,HAI_5_SIR,Not Available,Not Available,13,07/01/2018,06/30/2019,POINT (-92.414216 39.423879)
BRANSON,260094,COX MEDICAL CENTER BRANSON,"525 BRANSON LANDING BLVD, PO BOX 650",65615,TANEY,(417) 335-7000,SSI - Abdominal Hysterectomy,HAI_4_SIR,Not Available,Not Available,13,07/01/2018,06/30/2019,POINT (-93.220376 36.650541)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LIBERTY,260177,NEW LIBERTY HOSPITAL DISTRICT,2525 GLENN HENDREN DR,64069,CLAY,(816) 781-7200,SSI - Abdominal Hysterectomy,HAI_4_SIR,No Different than National Benchmark,0.000,NaN,07/01/2018,06/30/2019,POINT (-94.424343 39.276757)
TOWN AND COUNTRY,260108,MISSOURI BAPTIST MEDICAL CENTER,3015 N BALLAS RD,63131,ST. LOUIS,(314) 996-5000,SSI - Colon Surgery: Predicted Cases,HAI_3_ELIGCASES,No Different than National Benchmark,7.616,NaN,07/01/2018,06/30/2019,POINT (-90.443636 38.635532)
MOBERLY,260074,MOBERLY REGIONAL MEDICAL CENTER,1515 UNION AVE,65270,RANDOLPH,(660) 263-8400,SSI - Colon Surgery: Observed Cases,HAI_3_NUMERATOR,Not Available,0,NaN,07/01/2018,06/30/2019,POINT (-92.414216 39.423879)
BONNE TERRE,261315,PARKLAND HEALTH CENTER - BONNE TERRE,7245 RAIDER ROAD,63628,ST. FRANCOIS,(573) 358-1400,MRSA Bacteremia: Upper Confidence Limit,HAI_5_CIUPPER,Not Available,Not Available,19,07/01/2018,06/30/2019,POINT (-90.525297 37.909286)
CAPE GIRARDEAU,260110,SOUTHEASTHEALTH,1701 LACEY ST,63701,CAPE GIRARDEAU,(573) 334-4822,MRSA Bacteremia: Upper Confidence Limit,HAI_5_CIUPPER,No Different than National Benchmark,2.905,NaN,07/01/2018,06/30/2019,POINT (-89.540936 37.311273)

In [9]:
df = health_infect.set_index(["State", "City"])
df.sort_index(inplace=True)
df.loc['AK']

,Facility ID,Facility Name,Address,ZIP Code,County Name,Phone Number,Measure Name,Measure ID,Compared to National,Score,Footnote,Measure Start Date,Measure End Date,Location
City,,,,,,,,,,,,,,
ANCHORAGE,020017,ALASKA REGIONAL HOSPITAL,2801 DEBARR ROAD,99508,ANCHORAGE,(907) 276-1131,Clostridium Difficile (C.Diff): Predicted Cases,HAI_6_ELIGCASES,No Different than National Benchmark,14.743,NaN,07/01/2018,06/30/2019,POINT (-149.827379 61.20979)
ANCHORAGE,020026,ALASKA NATIVE MEDICAL CENTER,4315 DIPLOMACY DR,99508,ANCHORAGE,(907) 729-3971,SSI - Colon Surgery: Number of Procedures,HAI_3_DOPC,No Different than National Benchmark,173,NaN,07/01/2018,06/30/2019,POINT (-149.800578 61.18189)
ANCHORAGE,020026,ALASKA NATIVE MEDICAL CENTER,4315 DIPLOMACY DR,99508,ANCHORAGE,(907) 729-3971,MRSA Bacteremia,HAI_5_SIR,No Different than National Benchmark,1.481,NaN,07/01/2018,06/30/2019,POINT (-149.800578 61.18189)
ANCHORAGE,020001,PROVIDENCE ALASKA MEDICAL CENTER,3200 PROVIDENCE DRIVE,99508,ANCHORAGE,(907) 562-2211,Central Line Associated Bloodstream Infection ...,HAI_1_NUMERATOR,No Different than National Benchmark,10,NaN,07/01/2018,06/30/2019,POINT (-149.817622 61.189798)
ANCHORAGE,020001,PROVIDENCE ALASKA MEDICAL CENTER,3200 PROVIDENCE DRIVE,99508,ANCHORAGE,(907) 562-2211,SSI - Colon Surgery,HAI_3_SIR,No Different than National Benchmark,1.640,NaN,07/01/2018,06/30/2019,POINT (-149.817622 61.189798)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WRANGELL,021305,SEARHC WRANGELL MEDICAL CENTER-CAH,310 BENNETT STREET PO BOX 1081,99929,WRANGELL CITY AND BOROUGH,(907) 874-7000,MRSA Bacteremia: Patient Days,HAI_5_DOPC,Not Available,Not Available,5,07/01/2018,06/30/2019,POINT (-132.376414 56.471646)
WRANGELL,021305,SEARHC WRANGELL MEDICAL CENTER-CAH,310 BENNETT STREET PO BOX 1081,99929,WRANGELL CITY AND BOROUGH,(907) 874-7000,Catheter Associated Urinary Tract Infections (...,HAI_2_ELIGCASES,Not Available,Not Available,12,07/01/2018,06/30/2019,POINT (-132.376414 56.471646)
WRANGELL,021305,SEARHC WRANGELL MEDICAL CENTER-CAH,310 BENNETT STREET PO BOX 1081,99929,WRANGELL CITY AND BOROUGH,(907) 874-7000,SSI - Abdominal Hysterectomy: Observed Cases,HAI_4_NUMERATOR,Not Available,Not Available,5,07/01/2018,06/30/2019,POINT (-132.376414 56.471646)
WRANGELL,021305,SEARHC WRANGELL MEDICAL CENTER-CAH,310 BENNETT STREET PO BOX 1081,99929,WRANGELL CITY AND BOROUGH,(907) 874-7000,Central Line Associated Bloodstream Infection ...,HAI_1_CIUPPER,Not Available,Not Available,12,07/01/2018,06/30/2019,POINT (-132.376414 56.471646)
WRANGELL,021305,SEARHC WRANGELL MEDICAL CENTER-CAH,310 BENNETT STREET PO BOX 1081,99929,WRANGELL CITY AND BOROUGH,(907) 874-7000,Clostridium Difficile (C.Diff): Predicted Cases,HAI_6_ELIGCASES,Not Available,Not Available,5,07/01/2018,06/30/2019,POINT (-132.376414 56.471646)

### 8. Change all scores that are listed as 'Not Available' or '--'.
- Use the `.replace()` function to change the `.Score` says 'Not Available' and '--' to 'NaN'.
    - `.replace(['Not Available','--'],np.nan)`
- Overwrite infect_index.Score to reflect your changes.
    - If you only change infect_index, you will lose most of your data!
- Display your updated dataframe.

In [10]:
infect_index.Score= infect_index.Score.replace(['Not Available','--'],np.nan)
infect_index.Score

State  City
AL     BOAZ           12.772
       OPP               NaN
       CENTRE              0
       ENTERPRISE        NaN
       DOTHAN              1
                       ...
WY     LARAMIE         2.285
       POWELL            NaN
TX     TOMBALL           NaN
WI     LAKE GENEVA        13
TX     DALLAS            NaN
Name: Score, Length: 171324, dtype: object

In [ ]:
import numpy as np
infect_index.Score = infect_index.Score.replace(['Not Available', '--'],np.nan)
infect_index

### 10. Make sure the `Score` variable is numeric.
- Check the type of a particular value of the `Score` variable.
- If it is non-numeric, change it to a float.

In [ ]:
type(infect_index.Score[1])

In [ ]:
infect_index.Score = infect_index.Score.astype(float)

### 9. Drop your NA's

- Use the `.dropna()` function to get rid of instances in `Score` where there are NA's.

In [ ]:
infect_index = infect_index.dropna()

### 11. Sort the data by Score

In [ ]:
infect_index.sort_values("Score")

In [ ]:
infect_index.to_csv("infections.csv")