# Activity 3-1: Merging and Grouping Data
- This activity will have you combine datasets we have previously looked at.

- During and/or (necessarily) after you have finished this activity be sure to commit and push using GitHub Desktop.

- Feel free to look back on the lecture/slides and use search engines for help.

- **If you have any questions over the course of this lecture, please post them to the 'Day 2 Lecture Questions' assignment on the Canvas course page.**    

- The data 

- The data for the grouping problems is from [data.medicare.org](

### 1. Load data

- Import the pandas and numpy modules.

- Load the two datasets below as variables `life_expect` and `pop`
    - http://domlockett.github.io/website/Life_Expectancy.csv
    - http://domlockett.github.io/website/Population.csv

In [2]:
#type your solution to the problem below this line:

import pandas as pd
import numpy as np

life_expect =pd.read_csv("http://domlockett.github.io/website/Life_Expectancy.csv")
pop =pd.read_csv("http://domlockett.github.io/website/Population.csv")

### 2. life_expect.

- Change the names of three `life_expect` variables: `Time`, `Country Name` and `Life expectancy at birth, total (years) [SP.DYN.LE00.IN]` to 'Year','Country', and 'life_expect'.
- Make sure to overwrite the variable.
- Display your updated variable.

In [3]:
life_expect=  life_expect.rename(columns={'Life expectancy at birth, total (years) [SP.DYN.LE00.IN]': 'life_expect', 'Country Name':'Country', 'Time':'Year'})
life_expect

,Year,Time Code,Country,Country Code,life_expect
0,1990,YR1990,Afghanistan,AFG,50.331
1,1990,YR1990,Albania,ALB,71.836
2,1990,YR1990,Algeria,DZA,66.938
3,1990,YR1990,American Samoa,ASM,NaN
4,1990,YR1990,Andorra,AND,NaN
...,...,...,...,...,...
3163,2019,YR2019,Sub-Saharan Africa,SSF,NaN
3164,2019,YR2019,Sub-Saharan Africa (excluding high income),SSA,NaN
3165,2019,YR2019,Sub-Saharan Africa (IDA & IBRD countries),TSS,NaN
3166,2019,YR2019,Upper middle income,UMC,NaN
3167,2019,YR2019,World,WLD,NaN

### 3. pop.

- Change the names of three `pop` variables: `Time`, `Country Name` and `Population, total [SP.POP.TOTL]` to 'Year','Country', and 'Population'.
- Now update your `pop` dataset to only include the 'Year', 'Country', and 'Population' columns.
- Make sure to overwrite the variable.
- Display your new variable.

In [4]:
pop=  pop.rename(columns={'Population, total [SP.POP.TOTL]': 'Population', 'Country Name':'Country', 'Time':'Year'})
pop = pop[["Year", 'Country','Population']]
pop

      Year                                     Country  Population
0     1990                                 Afghanistan  12412308.0
1     1990                                     Albania   3286542.0
2     1990                                     Algeria  25758869.0
3     1990                              American Samoa     47347.0
4     1990                                     Andorra     54509.0
...    ...                                         ...         ...
3163  2019                          Sub-Saharan Africa         NaN
3164  2019  Sub-Saharan Africa (excluding high income)         NaN
3165  2019   Sub-Saharan Africa (IDA & IBRD countries)         NaN
3166  2019                         Upper middle income         NaN
3167  2019                                       World         NaN

[3168 rows x 3 columns]

### 4. Merge

- Now merge the two variables on the Year and the Country.
- Use inner join.
- Subset your `pop` dataset so it only includes your `Population` variable. i.e. pd.merge(life_expect, pop['Population'])
- Name this merged data `merge` and display your new dataset.

In [16]:
merge = pd.merge(life_expect, pop, on =['Year', 'Country'], how ='inner')
merge

,Year,Time Code,Country,Country Code,life_expect,Population
0,1990,YR1990,Afghanistan,AFG,50.331,12412308.0
1,1990,YR1990,Albania,ALB,71.836,3286542.0
2,1990,YR1990,Algeria,DZA,66.938,25758869.0
3,1990,YR1990,American Samoa,ASM,NaN,47347.0
4,1990,YR1990,Andorra,AND,NaN,54509.0
...,...,...,...,...,...,...
3163,2019,YR2019,Sub-Saharan Africa,SSF,NaN,NaN
3164,2019,YR2019,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN
3165,2019,YR2019,Sub-Saharan Africa (IDA & IBRD countries),TSS,NaN,NaN
3166,2019,YR2019,Upper middle income,UMC,NaN,NaN
3167,2019,YR2019,World,WLD,NaN,NaN

### 5. Save your new dataframe.

- Name your new file `life_pop.csv`

In [ ]:
merge.to_csv('life_pop.csv')

## Grouping data

### 6. Import the following data: 

- Import panda and numpy module.
 
- Load the following data: https://domlockett.github.io/website/healthcare_infections.csv

    - It is provider data reporting healthcare-related infections. "These measures are developed by Centers for Disease Control and Prevention (CDC) and collected through the National Healthcare Safety Network (NHSN). They provide information on infections that occur while the patient is in the hospital. These infections can be related to devices, such as central lines and urinary catheters, or spread from patient to patient after contact with an infected person or surface." From  [data.medicare.org](https://data.medicare.gov/).
    - It will take a moment to load.

- Name this variable `health_infect`.

- Display the output.

In [6]:
import pandas as pd
import numpy as np
health_infect = pd.read_csv('https://domlockett.github.io/website/healthcare_infections.csv')
health_infect

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure Name,Measure ID,Compared to National,Score,Footnote,Measure Start Date,Measure End Date,Location
0,010005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,Clostridium Difficile (C.Diff): Predicted Cases,HAI_6_ELIGCASES,Better than the National Benchmark,12.772,NaN,07/01/2018,06/30/2019,NaN
1,010007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,SSI - Colon Surgery,HAI_3_SIR,Not Available,Not Available,13,07/01/2018,06/30/2019,POINT (-86.255415 31.291972)
2,010022,CHEROKEE MEDICAL CENTER,400 NORTHWOOD DR,CENTRE,AL,35960,CHEROKEE,(256) 927-5531,MRSA Bacteremia: Observed Cases,HAI_5_NUMERATOR,Not Available,0,NaN,07/01/2018,06/30/2019,POINT (-85.65142 34.162761)
3,010049,MEDICAL CENTER ENTERPRISE,400 N EDWARDS STREET,ENTERPRISE,AL,36330,COFFEE,(334) 347-0584,MRSA Bacteremia: Lower Confidence Limit,HAI_5_CILOWER,Not Available,Not Available,13,07/01/2018,06/30/2019,POINT (-85.855308 31.318191)
4,010055,FLOWERS HOSPITAL,4370 WEST MAIN STREET,DOTHAN,AL,36305,HOUSTON,(334) 793-5000,MRSA Bacteremia: Observed Cases,HAI_5_NUMERATOR,No Different than National Benchmark,1,NaN,07/01/2018,06/30/2019,POINT (-85.457937 31.235991)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171319,530025,IVINSON MEMORIAL HOSPITAL,255 N 30TH,LARAMIE,WY,82072,ALBANY,(307) 755-4600,Clostridium Difficile (C.Diff): Predicted Cases,HAI_6_ELIGCASES,No Different than National Benchmark,2.285,NaN,07/01/2018,06/30/2019,POINT (-105.557512 41.31139)
171320,531310,POWELL VALLEY HOSPITAL,777 AVENUE H,POWELL,WY,82435,PARK,(307) 754-2267,SSI - Abdominal Hysterectomy: Lower Confidence...,HAI_4_CILOWER,Not Available,Not Available,5,07/01/2018,06/30/2019,POINT (-108.770547 44.756622)
171321,670095,MEMORIAL HERMANN FIRST COLONY HOSPITAL,"24429 TOMBALL PARKWAY, SUITE 100",TOMBALL,TX,77375,HARRIS,(281) 516-0911,SSI - Colon Surgery,HAI_3_SIR,Not Available,Not Available,12,07/01/2018,06/30/2019,POINT (-95.605323 30.037176)
171322,521357,MERCY WALWORTH HOSPITAL & MEDICAL CENTER,N2950 STATE ROAD 67,LAKE GENEVA,WI,53147,WALWORTH,(262) 245-0535,SSI - Abdominal Hysterectomy: Number of Proced...,HAI_4_DOPC,Not Available,13,NaN,07/01/2018,06/30/2019,POINT (-88.540919 42.597823)
171323,670049,NORTH CENTRAL SURGICAL CENTER LLP,9301 NORTH CENTRAL EXPRESSWAY SUITE 100,DALLAS,TX,75231,DALLAS,(214) 265-2810,SSI - Abdominal Hysterectomy: Upper Confidence...,HAI_4_CIUPPER,Not Available,Not Available,13,07/01/2018,06/30/2019,POINT (-96.770611 32.875179)

### 7. Group the data by State and City

- Use the `.set_index` attribute of `pd.DataFrame` to change the index to City and State.


- Save the new variable as `infect_index`.

- Display your new dataframe.

In [7]:
infect_index = pd.DataFrame.set_index(health_infect, keys=["State", "City"])
infect_index

                  Facility ID                             Facility Name  \
State City
AL    BOAZ             010005                  MARSHALL MEDICAL CENTERS
      OPP              010007                  MIZELL MEMORIAL HOSPITAL
      CENTRE           010022                   CHEROKEE MEDICAL CENTER
      ENTERPRISE       010049                 MEDICAL CENTER ENTERPRISE
      DOTHAN           010055                          FLOWERS HOSPITAL
...                       ...                                       ...
WY    LARAMIE          530025                 IVINSON MEMORIAL HOSPITAL
      POWELL           531310                    POWELL VALLEY HOSPITAL
TX    TOMBALL          670095    MEMORIAL HERMANN FIRST COLONY HOSPITAL
WI    LAKE GENEVA      521357  MERCY WALWORTH HOSPITAL & MEDICAL CENTER
TX    DALLAS           670049         NORTH CENTRAL SURGICAL CENTER LLP

                                                   Address  ZIP Code  \
State City
AL    BOAZ                      2505 U S HIGHWAY 431 NORTH     35957
      OPP                                    702 N MAIN ST     36467
      CENTRE                              400 NORTHWOOD DR     35960
      ENTERPRISE                      400 N EDWARDS STREET     36330
      DOTHAN                         4370 WEST MAIN STREET     36305
...                                                    ...       ...
WY    LARAMIE                                   255 N 30TH     82072
      POWELL                                  777 AVENUE H     82435
TX    TOMBALL             24429 TOMBALL PARKWAY, SUITE 100     77375
WI    LAKE GENEVA                      N2950 STATE ROAD 67     53147
TX    DALLAS       9301 NORTH CENTRAL EXPRESSWAY SUITE 100     75231

                  County Name    Phone Number  \
State City
AL    BOAZ           MARSHALL  (256) 593-8310
      OPP           COVINGTON  (334) 493-3541
      CENTRE         CHEROKEE  (256) 927-5531
      ENTERPRISE       COFFEE  (334) 347-0584
      DOTHAN          HOUSTON  (334) 793-5000
...                       ...             ...
WY    LARAMIE          ALBANY  (307) 755-4600
      POWELL             PARK  (307) 754-2267
TX    TOMBALL          HARRIS  (281) 516-0911
WI    LAKE GENEVA    WALWORTH  (262) 245-0535
TX    DALLAS           DALLAS  (214) 265-2810

                                                        Measure Name  \
State City
AL    BOAZ           Clostridium Difficile (C.Diff): Predicted Cases
      OPP                                        SSI - Colon Surgery
      CENTRE                         MRSA Bacteremia: Observed Cases
      ENTERPRISE             MRSA Bacteremia: Lower Confidence Limit
      DOTHAN                         MRSA Bacteremia: Observed Cases
...                                                              ...
WY    LARAMIE        Clostridium Difficile (C.Diff): Predicted Cases
      POWELL       SSI - Abdominal Hysterectomy: Lower Confidence...
TX    TOMBALL                                    SSI - Colon Surgery
WI    LAKE GENEVA  SSI - Abdominal Hysterectomy: Number of Proced...
TX    DALLAS       SSI - Abdominal Hysterectomy: Upper Confidence...

                        Measure ID                  Compared to National  \
State City
AL    BOAZ         HAI_6_ELIGCASES    Better than the National Benchmark
      OPP                HAI_3_SIR                         Not Available
      CENTRE       HAI_5_NUMERATOR                         Not Available
      ENTERPRISE     HAI_5_CILOWER                         Not Available
      DOTHAN       HAI_5_NUMERATOR  No Different than National Benchmark
...                            ...                                   ...
WY    LARAMIE      HAI_6_ELIGCASES  No Different than National Benchmark
      POWELL         HAI_4_CILOWER                         Not Available
TX    TOMBALL            HAI_3_SIR                         Not Available
WI    LAKE GENEVA       HAI_4_DOPC                         Not Available
TX    DALLAS         HAI_4_CIUPPER                         Not Available

                           Score Footnote Measure Start Date Measure End Date  \
State City
AL    BOAZ                12.772      NaN         07/01/2018       06/30/2019
      OPP          Not Available       13         07/01/2018       06/30/2019
      CENTRE                   0      NaN         07/01/2018       06/30/2019
      ENTERPRISE   Not Available       13         07/01/2018       06/30/2019
      DOTHAN                   1      NaN         07/01/2018       06/30/2019
...                          ...      ...                ...              ...
WY    LARAMIE              2.285      NaN         07/01/2018       06/30/2019
      POWELL       Not Available        5         07/01/2018       06/30/2019
TX    TOMBALL      Not Available       12         07/01/2018       06/30/2019
WI    LAKE GENEVA             13      NaN         07/01/2018       06/30/2019
TX    DALLAS       Not Available       13         07/01/2018       06/30/2019

                                        Location
State City
AL    BOAZ                                   NaN
      OPP           POINT (-86.255415 31.291972)
      CENTRE         POINT (-85.65142 34.162761)
      ENTERPRISE    POINT (-85.855308 31.318191)
      DOTHAN        POINT (-85.457937 31.235991)
...                                          ...
WY    LARAMIE       POINT (-105.557512 41.31139)
      POWELL       POINT (-108.770547 44.756622)
TX    TOMBALL       POINT (-95.605323 30.037176)
WI    LAKE GENEVA   POINT (-88.540919 42.597823)
TX    DALLAS        POINT (-96.770611 32.875179)

[171324 rows x 14 columns]

### 8. Change all scores that are listed as 'Not Available' or '--'.
- Use the `.replace()` function to change the `.Score` says 'Not Available' and '--' to 'NaN'.
    - `.replace(['Not Available','--'],np.nan)`
- Overwrite infect_index.Score to reflect your changes.
    - If you only change infect_index, you will lose most of your data!
- Display your updated dataframe.

In [8]:
import numpy as np
infect_index.Score = infect_index.Score.replace(['Not Available', '--'],np.nan)
infect_index

                  Facility ID                             Facility Name  \
State City
AL    BOAZ             010005                  MARSHALL MEDICAL CENTERS
      OPP              010007                  MIZELL MEMORIAL HOSPITAL
      CENTRE           010022                   CHEROKEE MEDICAL CENTER
      ENTERPRISE       010049                 MEDICAL CENTER ENTERPRISE
      DOTHAN           010055                          FLOWERS HOSPITAL
...                       ...                                       ...
WY    LARAMIE          530025                 IVINSON MEMORIAL HOSPITAL
      POWELL           531310                    POWELL VALLEY HOSPITAL
TX    TOMBALL          670095    MEMORIAL HERMANN FIRST COLONY HOSPITAL
WI    LAKE GENEVA      521357  MERCY WALWORTH HOSPITAL & MEDICAL CENTER
TX    DALLAS           670049         NORTH CENTRAL SURGICAL CENTER LLP

                                                   Address  ZIP Code  \
State City
AL    BOAZ                      2505 U S HIGHWAY 431 NORTH     35957
      OPP                                    702 N MAIN ST     36467
      CENTRE                              400 NORTHWOOD DR     35960
      ENTERPRISE                      400 N EDWARDS STREET     36330
      DOTHAN                         4370 WEST MAIN STREET     36305
...                                                    ...       ...
WY    LARAMIE                                   255 N 30TH     82072
      POWELL                                  777 AVENUE H     82435
TX    TOMBALL             24429 TOMBALL PARKWAY, SUITE 100     77375
WI    LAKE GENEVA                      N2950 STATE ROAD 67     53147
TX    DALLAS       9301 NORTH CENTRAL EXPRESSWAY SUITE 100     75231

                  County Name    Phone Number  \
State City
AL    BOAZ           MARSHALL  (256) 593-8310
      OPP           COVINGTON  (334) 493-3541
      CENTRE         CHEROKEE  (256) 927-5531
      ENTERPRISE       COFFEE  (334) 347-0584
      DOTHAN          HOUSTON  (334) 793-5000
...                       ...             ...
WY    LARAMIE          ALBANY  (307) 755-4600
      POWELL             PARK  (307) 754-2267
TX    TOMBALL          HARRIS  (281) 516-0911
WI    LAKE GENEVA    WALWORTH  (262) 245-0535
TX    DALLAS           DALLAS  (214) 265-2810

                                                        Measure Name  \
State City
AL    BOAZ           Clostridium Difficile (C.Diff): Predicted Cases
      OPP                                        SSI - Colon Surgery
      CENTRE                         MRSA Bacteremia: Observed Cases
      ENTERPRISE             MRSA Bacteremia: Lower Confidence Limit
      DOTHAN                         MRSA Bacteremia: Observed Cases
...                                                              ...
WY    LARAMIE        Clostridium Difficile (C.Diff): Predicted Cases
      POWELL       SSI - Abdominal Hysterectomy: Lower Confidence...
TX    TOMBALL                                    SSI - Colon Surgery
WI    LAKE GENEVA  SSI - Abdominal Hysterectomy: Number of Proced...
TX    DALLAS       SSI - Abdominal Hysterectomy: Upper Confidence...

                        Measure ID                  Compared to National  \
State City
AL    BOAZ         HAI_6_ELIGCASES    Better than the National Benchmark
      OPP                HAI_3_SIR                         Not Available
      CENTRE       HAI_5_NUMERATOR                         Not Available
      ENTERPRISE     HAI_5_CILOWER                         Not Available
      DOTHAN       HAI_5_NUMERATOR  No Different than National Benchmark
...                            ...                                   ...
WY    LARAMIE      HAI_6_ELIGCASES  No Different than National Benchmark
      POWELL         HAI_4_CILOWER                         Not Available
TX    TOMBALL            HAI_3_SIR                         Not Available
WI    LAKE GENEVA       HAI_4_DOPC                         Not Available
TX    DALLAS         HAI_4_CIUPPER                         Not Available

                    Score Footnote Measure Start Date Measure End Date  \
State City
AL    BOAZ         12.772      NaN         07/01/2018       06/30/2019
      OPP             NaN       13         07/01/2018       06/30/2019
      CENTRE            0      NaN         07/01/2018       06/30/2019
      ENTERPRISE      NaN       13         07/01/2018       06/30/2019
      DOTHAN            1      NaN         07/01/2018       06/30/2019
...                   ...      ...                ...              ...
WY    LARAMIE       2.285      NaN         07/01/2018       06/30/2019
      POWELL          NaN        5         07/01/2018       06/30/2019
TX    TOMBALL         NaN       12         07/01/2018       06/30/2019
WI    LAKE GENEVA      13      NaN         07/01/2018       06/30/2019
TX    DALLAS          NaN       13         07/01/2018       06/30/2019

                                        Location
State City
AL    BOAZ                                   NaN
      OPP           POINT (-86.255415 31.291972)
      CENTRE         POINT (-85.65142 34.162761)
      ENTERPRISE    POINT (-85.855308 31.318191)
      DOTHAN        POINT (-85.457937 31.235991)
...                                          ...
WY    LARAMIE       POINT (-105.557512 41.31139)
      POWELL       POINT (-108.770547 44.756622)
TX    TOMBALL       POINT (-95.605323 30.037176)
WI    LAKE GENEVA   POINT (-88.540919 42.597823)
TX    DALLAS        POINT (-96.770611 32.875179)

[171324 rows x 14 columns]

### 9. Make sure the `Score` variable is numeric.
- Check the type of a particular value of the `Score` variable.
- If it is non-numeric, change it to a float.

In [9]:
type(infect_index.Score[1])

float

In [10]:
infect_index.Score = infect_index.Score.astype(float)

### 9. Drop your NA's

- Use the `.dropna()` function to get rid of instances in `Score` where there are NA's.

In [11]:
infect_index = infect_index.dropna()

### 10. Sort the data by Score

In [12]:
infect_index.sort_values("Score")

                    Facility ID  \
State City
OK    TISHOMINGO         371304
OR    HERMISTON          381325
IL    RUSHVILLE          141333
ND    DICKINSON          351336
OK    OKLAHOMA CITY      370240
...                         ...
MD    LAUREL             210055
      LAUREL             210055
TX    DENTON             670010
      DENTON             670010
IL    CHICAGO            140177

                                                      Facility Name  \
State City
OK    TISHOMINGO                      MERCY HOSPITAL TISHOMINGO INC
OR    HERMISTON                        GOOD SHEPHERD MEDICAL CENTER
IL    RUSHVILLE                SARAH D CULBERTSON MEMORIAL HOSPITAL
ND    DICKINSON                     CHI ST ALEXIUS HEALTH DICKINSON
OK    OKLAHOMA CITY  INTEGRIS COMMUNITY HOSPITAL - COUNCIL CROSSING
...                                                             ...
MD    LAUREL                         LAUREL REGIONAL MEDICAL CENTER
      LAUREL                         LAUREL REGIONAL MEDICAL CENTER
TX    DENTON                                       MAYHILL HOSPITAL
      DENTON                                       MAYHILL HOSPITAL
IL    CHICAGO                                 JACKSON PARK HOSPITAL

                                       Address  ZIP Code     County Name  \
State City
OK    TISHOMINGO               1000 SOUTH BYRD     73460        JOHNSTON
OR    HERMISTON             610 NW 11TH STREET     97838        UMATILLA
IL    RUSHVILLE      238 SOUTH CONGRESS STREET     62681        SCHUYLER
ND    DICKINSON            2500 FAIRWAY STREET     58601           STARK
OK    OKLAHOMA CITY        9417 N COUNCIL ROAD     73162        OKLAHOMA
...                                        ...       ...             ...
MD    LAUREL               7300 VAN DUSEN ROAD     20707  PRINCE GEORGES
      LAUREL               7300 VAN DUSEN ROAD     20707  PRINCE GEORGES
TX    DENTON           2809 SOUTH MAYHILL ROAD     76208          DENTON
      DENTON           2809 SOUTH MAYHILL ROAD     76208          DENTON
IL    CHICAGO          7531 S STONY ISLAND AVE     60649            COOK

                       Phone Number  \
State City
OK    TISHOMINGO     (580) 371-2327
OR    HERMISTON      (541) 667-3400
IL    RUSHVILLE      (217) 322-4321
ND    DICKINSON      (701) 456-4000
OK    OKLAHOMA CITY  (405) 550-3280
...                             ...
MD    LAUREL         (301) 725-4300
      LAUREL         (301) 725-4300
TX    DENTON         (940) 239-3000
      DENTON         (940) 239-3000
IL    CHICAGO        (773) 947-7500

                                                          Measure Name  \
State City
OK    TISHOMINGO                       MRSA Bacteremia: Observed Cases
OR    HERMISTON           SSI - Abdominal Hysterectomy: Observed Cases
IL    RUSHVILLE                        MRSA Bacteremia: Observed Cases
ND    DICKINSON           SSI - Abdominal Hysterectomy: Observed Cases
OK    OKLAHOMA CITY  Central Line Associated Bloodstream Infection ...
...                                                                ...
MD    LAUREL                             MRSA Bacteremia: Patient Days
      LAUREL              Clostridium Difficile (C.Diff): Patient Days
TX    DENTON              Clostridium Difficile (C.Diff): Patient Days
      DENTON                             MRSA Bacteremia: Patient Days
IL    CHICAGO                            MRSA Bacteremia: Patient Days

                          Measure ID                  Compared to National  \
State City
OK    TISHOMINGO     HAI_5_NUMERATOR                         Not Available
OR    HERMISTON      HAI_4_NUMERATOR                         Not Available
IL    RUSHVILLE      HAI_5_NUMERATOR                         Not Available
ND    DICKINSON      HAI_4_NUMERATOR                         Not Available
OK    OKLAHOMA CITY  HAI_1_NUMERATOR                         Not Available
...                              ...                                   ...
MD    LAUREL              HAI_5_DOPC                         Not Available
      LAUREL              HAI_6_DOPC  No Different than National Benchmark
TX    DENTON              HAI_6_DOPC    Better than the National Benchmark
      DENTON              HAI_5_DOPC                         Not Available
IL    CHICAGO             HAI_5_DOPC                         Not Available

                       Score Footnote Measure Start Date Measure End Date  \
State City
OK    TISHOMINGO         0.0        3         07/01/2018       06/30/2019
OR    HERMISTON          0.0        3         07/01/2018       06/30/2019
IL    RUSHVILLE          0.0        3         07/01/2018       06/30/2019
ND    DICKINSON          0.0        3         07/01/2018       06/30/2019
OK    OKLAHOMA CITY      0.0        3         07/01/2018       06/30/2019
...                      ...      ...                ...              ...
MD    LAUREL          9422.0        3         07/01/2018       06/30/2019
      LAUREL          9422.0        3         07/01/2018       06/30/2019
TX    DENTON         13788.0        3         07/01/2018       06/30/2019
      DENTON         13788.0        3         07/01/2018       06/30/2019
IL    CHICAGO        14927.0        3         07/01/2018       06/30/2019

                                          Location
State City
OK    TISHOMINGO      POINT (-96.675294 34.222445)
OR    HERMISTON       POINT (-119.31095 45.846135)
IL    RUSHVILLE       POINT (-90.563587 40.117944)
ND    DICKINSON      POINT (-102.820598 46.887267)
OK    OKLAHOMA CITY   POINT (-97.656257 35.565352)
...                                            ...
MD    LAUREL          POINT (-76.881591 39.084742)
      LAUREL          POINT (-76.881591 39.084742)
TX    DENTON          POINT (-97.088293 33.175842)
      DENTON          POINT (-97.088293 33.175842)
IL    CHICAGO          POINT (-87.58571 41.757332)

[1355 rows x 14 columns]

In [13]:
infect_index.to_csv("infections.csv")