# Error in Quiz3-1_Merging-Grouping

### 4. Merge

- Now merge the two variables on the Year and the Country.
- Use inner join.

~~- Subset your `pop` dataset so it only includes your `Population` variable. i.e. pd.merge(life_expect, pop['Population'])~~
- Name this merged data `merge` and display your new dataset.

### 7. Group the data by State and City

- Use the `.set_index` attribute of `pd.DataFrame` to change the index **(keys)** to City and State. (See line 27 of Lecture 3.1)


- Save the new variable as `infect_index`.

- Display your new dataframe.

# Saving .csv files.

- Failed to mention in lecture: When you save a .csv file it is use file to save it as 'file.csv'.
    - However, you could potentially save it as simply 'file'.
- Both of these would still work but just be sure that you are loading them exactly as saved.
    - You will not be able to view the raw 'file' as neatly.

In [1]:
import pandas as pd
data = pd.read_csv('http://domlockett.github.io/website/Population.csv')
data[1:5].to_csv('file', index= False)
data[5:10].to_csv('file.csv')

In [2]:
load = pd.read_csv('file')
load1 = pd.read_csv('file.csv')
load

,Time,Time Code,Country Name,Country Code,"Population, total [SP.POP.TOTL]"
0,1990,YR1990,Albania,ALB,3286542.0
1,1990,YR1990,Algeria,DZA,25758869.0
2,1990,YR1990,American Samoa,ASM,47347.0
3,1990,YR1990,Andorra,AND,54509.0

In [13]:
load1

,Unnamed: 0,Time,Time Code,Country Name,Country Code,"Population, total [SP.POP.TOTL]"
0,5,1990,YR1990,Angola,AGO,11848386.0
1,6,1990,YR1990,Antigua and Barbuda,ATG,62528.0
2,7,1990,YR1990,Argentina,ARG,32618651.0
3,8,1990,YR1990,Armenia,ARM,3538171.0
4,9,1990,YR1990,Aruba,ABW,62149.0

# How to find out what a function does
- To find out what a function does simply hit \<Shift\> + \<Tab\> after you have written the function!

In [ ]:
print() #Shift + Tab
sum()#Shift + Tab
input()#Shift + Tab

# More on code blocks
- How to end a code block?
    - Code blocks in Python are completely controlled by your indentation.
        - Other languages use brackets {}, semicolons; or simply `end`
    - In Python, if you want to end a block of code you merely have to go back to the first line (no indents or spaces)

In [21]:
for i in range(5):
    if i > 1:
        print(i)
print('time for a new chunk')
a = 4
while a < 10:
    print(a)
    a = a+2
print('that chunk is done')
1+1

2
3
4
time for a new chunk
4
6
8
that chunk is done

2

In [9]:
password = 'wrong'
if password == 'apple':
    print('Logging on ...') #single tab
else:
    print('Incorrect password.')

print('All done!')

Incorrect password.
All done!

## In case you didn't understand defining functions:

In [23]:
def eval_password(password):
    if password == 'apple':
        print('Logging on ...') # double tab 
    else:
        print('Incorrect password.')

eval_password('apple')

Logging on ...

# More on While Loops

## Syntax

    while test_expression:
        Body of while

![](https://cdn.programiz.com/sites/tutorial2program/files/whileLoopFlowchart.jpg)

In [3]:
a = 1
while a < 10: # state our while condition
    print(a) # print the object for demonstration
    a = a +2 # Here is

1
3
5
7
9

In [42]:
# define our values

sum = 0
i = 1

while i <= 10: # set a condition while our counter i is less than or equal to 10
    sum = sum + 5 # add whatever the value i is to whatever sum is
    print(i) # print the number for demonstration purposes
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

1
2
3
4
5
6
7
8
9
10
The sum is 50

In [4]:
i

NameError: name 'i' is not defined

In [26]:
# initialize sum and counter
sum = 0
i = 1

while i <= 10:
    sum = sum + i
    print(sum)
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

1
3
6
10
15
21
28
36
45
55
The sum is 55